In [17]:
import xarray as xr
import rioxarray as rxr
import rasterio as r
import glob as g

In [18]:
# Đọc file raster bằng rioxarray
raster_data = rxr.open_rasterio('D:/AI-Class/data/ImageData/test1-0000013312-0000000000.tif')

# Kiểm tra thông tin của dữ liệu
print(raster_data)

<xarray.DataArray (band: 26, y: 2091, x: 6656)> Size: 1GB
[361860096 values with dtype=float32]
Coordinates:
  * band         (band) int64 208B 1 2 3 4 5 6 7 8 9 ... 19 20 21 22 23 24 25 26
  * x            (x) float64 53kB 104.4 104.4 104.4 104.4 ... 105.0 105.0 105.0
  * y            (y) float64 17kB 19.47 19.47 19.47 19.47 ... 19.29 19.29 19.29
    spatial_ref  int64 8B 0
Attributes:
    AREA_OR_POINT:           Area
    STATISTICS_COVARIANCES:  0
    STATISTICS_MAXIMUM:      -1.7976931348623e+308
    STATISTICS_MEAN:         0
    STATISTICS_MINIMUM:      1.7976931348623e+308
    STATISTICS_SKIPFACTORX:  1
    STATISTICS_SKIPFACTORY:  1
    STATISTICS_STDDEV:       0
    scale_factor:            1.0
    add_offset:              0.0
    long_name:               ('B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8',...

In [20]:
df = pd.read_csv('D:/AI-Class/data/HandleData/output_with_bands.csv')

df.head()

   OID_        LAT        LONG  SymbolID     B04     B05     B06
0     1  19.842292  105.350638       0.0  0.0395  0.0650  0.0800
1     2  19.842251  105.350667       0.0  0.0395  0.0498  0.0920
2     3  19.842307  105.350709       0.0  0.0395  0.0764  0.1010
3     4  19.842246  105.350594       0.0  0.0395  0.0638  0.0906
4     5  19.842286  105.350595       0.0  0.0395  0.0650  0.0800